body {
    font-family: 'Montserrat', sans-serif;
    background-color: #DDD5D0;
    font-size: 16px;
}

#nome {
    color: #586F6B;
    text-align: center;
}

#descricao {
    position: absolute;
    width: 400px;
    left: 230px;
    top: 120px;
    text-align: justify;
}

#foto {
    padding: 10px;
    background-color: #271F30;
}

.destaque {
    color: #586F6B;
    text-decoration: underline;
    font-weight: 700;
    line-height: 2em;
    font-size: 1.25em;
}

.link {
    text-decoration: none;
    color: #463F3A;
    background-color: #8A817C;
}

.list-item {
    line-height: 2.5em;
    font-size: 1.15em;
}